@page
@model WebApplication1.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.ID" />
            <div class="form-group">
                <label asp-for="Employee.FGS" class="control-label"></label>
                <input asp-for="Employee.FGS" class="form-control" />
                <span asp-validation-for="Employee.FGS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Old" class="control-label"></label>
                <input asp-for="Employee.Old" class="form-control" />
                <span asp-validation-for="Employee.Old" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Gender" class="control-label"></label>
                <input asp-for="Employee.Gender" class="form-control" />
                <span asp-validation-for="Employee.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Address" class="control-label"></label>
                <input asp-for="Employee.Address" class="form-control" />
                <span asp-validation-for="Employee.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Telefon" class="control-label"></label>
                <input asp-for="Employee.Telefon" class="form-control" />
                <span asp-validation-for="Employee.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Pasport" class="control-label"></label>
                <input asp-for="Employee.Pasport" class="form-control" />
                <span asp-validation-for="Employee.Pasport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.PositionsID" class="control-label"></label>
                <input asp-for="Employee.PositionsID" class="form-control" />
                <span asp-validation-for="Employee.PositionsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
